[project]
name = "visiumhd"
version = "0.1.0"
requires-python = ">=3.10"
dependencies = [
  "anndata",
  "scanpy",
  "numpy",
  "pandas",
  "scipy",
  "matplotlib",
]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]
